- var title = "401 Unauthorized | y-hmd. | WEBクリエイターを目指すハマダユイコのポートフォリオサイト"
- var description = "ハマダユイコのポートフォリオサイト | 名古屋でWEBデザインなどについて勉強中の大学生のポートフォリオです。WEBだけに限らずその他の制作物も載せていくつもりです。401エラーページです。"

doctype html
html(lang="ja")
	include ./templates/_head.jade
	body
		#bg
		nav
			ul
				li: a(href="index.html") HOME
				li: a(href="works.html") works
				li: a(href="#about") about
				li: a(href="#contact") contact
		#container
			header
				span.menu-trigger(href="#")
					span
					span
					span
			#mainVisual
				#js-fadeText
					span YUIKO HAMADA's
					span portfolio site
			#contents.error
				img(src="./images/401.png" alt="401 error")
				p IDかパスワードが正しくない可能性があります。
				p 以下のメールアドレスにお問い合わせください。
				#contact
						h2 contact
						<a class="btn_big" href="mailto:info@y-hmd.com"><svg><rect x="0" y="0" fill="none" width="240" height="50" class="rect"></svg><span>info@y-hmd.com</span></a>
			include ./templates/_footer.jade