head
	meta(charset='UTF-8')
	meta(name="description" content= description)
	meta(name="viewport" content="width=device-width, initial-scale=1")
	title= title
	meta(property="og:site_name" content= "y-hmd.")
	meta(property="og:url" content= "https://y-hmd.com")
	meta(property="og:title" content= title)
	meta(property="og:description" content= description)
	meta(property="og:image" content= "./images/og.png")
	meta(name="twitter:card" content="summary")
	meta(name="twitter:title" content= title)
	meta(name="twitter:description" content= description)
	meta(name="twitter:image" content="./images/og.png")
	link(rel="stylesheet" type="text/css" href="./css/reset.css")
	link(rel="stylesheet" type="text/css" href="./css/clearfix.css")
	link(rel="stylesheet" type="text/css" href="./css/style.css")
	link(rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Karla:400,700')
	link(rel="icon" type="image/vnd.microsoft.icon" href="./images/favicon.ico")
	script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
	script(src="./js/index.js")
	script(src="./js/modernizr.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js")
	<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-66903750-3', 'auto');ga('send', 'pageview');</script>

