#works {
	#workspage-list {
		width: 930px;
		@include media(tablet) {
			width: 760px;
		}
		@include media(sp) {
			width: 320px;
		}
		margin: 0 auto;
		.button {
			display: inline-block;
			width: 120px;
			font-size: 1.2em;
			font-weight: bold;
			line-height: 50px;
			&:hover {
				letter-spacing: 2.5px;
			}
		}
		.current {
			color: $red;
		}
		ul.filter-contents {
			margin: 20px 0 0;
			@include media(sp) {
				width: 96%;
				margin: 0 auto;
			}
			li {
				float: left;
				width: 300px;
				@include media(tablet) {
					width: 370px;
				}
				@include media(sp) {
					float: none;
					width: 100%;
					margin: 0;
				}
				height: 210px;
				margin: 0 5px;
				text-align: left;
				&:hover {
					.caption {
						opacity: 0.7;
					}
					.viewmore {
						opacity: 1;
						transition: all 0.3s;
					}
				}
				.viewmore {
					@include media(undertablet) {
						display: none;
					}
					position: absolute;
					width: 300px;
					height: 150px;
					background: rgba(0,0,0,0.7);
					color: #fff;
					font-size: 1.8em;
					line-height: 150px;
					text-align: center;
					z-index: 3;
					opacity: 0;
				}
				figure {
					position: relative;
					width: 100%;
					height: 150px;
					margin: 0;
					background: $gray;
					img {
						position: absolute;
						top: 10%;
						left: 0;
						right: 0;
						margin: 0 auto;
						width: auto;
						height: 90%;
					}
				}//.figure
				.caption {
					&:before {
						position: absolute;
						width: 3px;
						height: 36px;
						border-left: 3px solid #000;
						content: "";
					}
					figcaption {
						margin: 5px 0 0 8px;
						font-weight: bold;
						font-size: 1.1em;
						line-height: 1.4;
					}
					p {
						margin: 0 0 0 8px;
						font-size: 0.8em;
					}
				}//.caption
			}
		}
	}//.workspage-list
	.works-single {
		width: 760px;
		@include media(sp) {
			width: 94%;
			margin: 0 auto;
		}
		margin: 0 auto;
		text-align: left;
		h3 {
			font-size: 2em;
			font-weight: bold;
		}
		h4 {
			font-size: 1.3em;
			font-weight: bold;
			&:after {
				display: block;
				width: 30px;
				height: 2px;
				margin: 20px 0;
				border-bottom: 1px dashed #000;
				content: "";
			}
		}
		p {
			line-height: 1.8;
		}
		.top-img {
			margin: 30px 0 0;
			text-align: center;
			@include media(sp) {
				width: 100%;
				img {
					width: 100%;
					height: auto;
				}
			}
		}
		.single-top {
			margin: 0 0 40px 0;
			.summary {
				float: left;
				width: 300px;
				margin: 0 10px 0 0;
				a {
					text-decoration: underline;
					&:hover {
						color: $red;
					}
				}
				dt {
					margin: 8px 0 3px 0 ;
					font-weight: bold;
				}
			}//.summary
			.context {
				float: left;
				width: 450px;
				a {
					text-decoration: underline;
					&:hover {
						color: $red;
					}
				}
				@include media(sp) {
					width: 100%;
					h4 {
						margin: 20px 0 0;
					}
				}
			}
		}//.single-top
		.flow {
			a {
				text-decoration: underline;
				&:hover {
					color: $red;
				}
			}
			h4 {
				margin: 10px 0 0;
			}
			.flow-detail {
				margin: 30px 0 0;
				img {
					width: 100%;
					height: auto;
					margin: 0 0 10px 0;
				}
				@include media(sp) {
					.left,.right {
						width: 100%;
					}
				}
			}//.flow-detail
			.ss {
				margin: 30px 0 0;
				text-align: center;
				@include media(sp) {
					img {
						width: 100%;
						height: auto;
					}
				}
			}
			iframe {
				display: block;
				margin: 10px auto;
				@include media(sp) {
					width: 94%;
				}
			}
		}
		.works-nav {
			width: 570px;
			@include media(sp) {
				width: 94%;
			}
			margin: 0 auto;
			padding: 40px 0 0;
			clear: both;
			a {
				float: left;
				margin: 0 5px;
				@include media(sp) {
					float: none;
					margin: 5px auto;
				}
			}
			.anm-btn {
				&:hover {
					span {
						letter-spacing: 0;
					}
				}
			}
		}
	}
}