- var title = "UNITED | works | y-hmd. | WEBクリエイターを目指すハマダユイコのポートフォリオサイト"
- var description = "ハマダユイコのポートフォリオサイト | 名古屋でWEBデザインなどについて勉強中の大学生です。WEBだけに限らずその他の制作物も載せていくつもりです。「UNITED」の紹介ページです"

doctype html
html(lang="ja")
	include ./templates/_head.jade
	body
		#js-loaderbg
			#js-loader
				img(src="./images/loading.gif" alt="")
		#wrap
			#bg
			nav
				ul
					li: a(href="index.html") HOME
					li: a(href="works.html") works
					li: a(href="index.html#about") about
					li: a(href="#contact") contact
			#container
				header
					span.menu-trigger(href="#")
						span
						span
						span
				#mainVisual
					#js-fadeText
						span YUIKO HAMADA's
						span portfolio site
				section#contents
					section#works
						h2 works
						.works-single
							h3 UNITED
							span.date BRANDING / 2014.10-
							.top-img
								img(src="./images/works/01.png" alt="")
							.single-top.clearfix
								.summary
									dl
										dt 活動期間
										dd 2014.10-
										dt 担当
										dd 主にデザイン
										dt URL
										dd: a(href="http://united.nagoya" target="_blank") http://united.nagoya
										dd: a(href="https://www.facebook.com/UNITEDnagoya-412298345595969/" target="_blank") facebook
								.context
									h4 背景
									p 前身組織であるCrosstalk Unitedという合同会社の意思を引き継ぎつつ、学生主体の団体としてUNITEDは誕生しました。発足時のメンバーとして、コンセプトビルディングに携わるなど貴重な経験ができました。
							section.flow
								.flow-detail.clearfix
									h4 コンセプトビルディング
									.left.w300
										img(src="./images/works/01-01.png" alt="")
										img(src="./images/works/01-02.png" alt="")
									.right.w450
										p UNITEDはどういった団体として活動していくかを話し合いを重ね0から決定していきました。「自己ブランディング」とは具体的に何をすれば達成されるのか、そのためにどんな準備がいるか、など突き詰めて話し合いを行いました。
										p コンセプトを固めた後は、それに基づいたロゴを制作することになりました。内部コンペ形式で、各自持ち寄ったアイディアをプレゼンし、私が制作したものをブラッシュアップすることに。
										p 完成したロゴは、「一点に集まる」「一点から発散する」ことを表しています。また、7色で構成されているのは、いろんな個性を持った人々であることを表しています。
								.flow-detail.clearfix
									h4 名刺制作
									.right.w300
										img(src="./images/works/01-03.png" alt="")
										img(src="./images/works/01-04.png" alt="")
									.left.w450
										p 外へ出て活動する際に名刺が必要だ、ということで名刺制作もコンペ形式で行いました。ロゴのイメージを保ちつつ、フラットでWEB系らしいデザインの名刺を提案し、見事採用されました。
								.flow-detail.clearfix
									h4 WEB制作
									.left.w300
										img(src="./images/works/01-05.png" alt="")
									.right.w450
										p UNITEDのWEBサイトのデザインも担当することになりました。当時は作品数もメンバーも少なく、載せるコンテンツが少なかったため1ページのデザインにしました。UNITEDのカラーであるオレンジをメインカラーにし、名刺と同じくフラットなデザインに。担当したのは、デザインのみです。
								.flow-detail.clearfix
									h4 UNITEDの活動
									.right.w300
										img(src="./images/works/01-06.png" alt="")
									.left.w450
										p 主に、WEB制作(依頼されて制作することも)やコンペへの応募、内部で勉強会、など自主的な活動を行っています。2015年は、ご当地神経衰弱というブラウザで動くゲームを提案し、コンペで初入賞することもできました。<br>UNITEDは2015年に1周年を迎え、2年目をどのような年にしたいかを話し合い、それに向けて現在活動中です。メンバーも初期から倍に増え賑やかになったので、これからもっと広く活動できると期待しています。
							.works-nav.clearfix
								<a class="anm-btn" href="#"><svg><rect x="0" y="0" fill="none" width="150" height="50" class="rect"></svg><span>←</span></a>
								<a class="btn_big" href="works.html"><svg><rect x="0" y="0" fill="none" width="240" height="50" class="rect"></svg><span>View ALL</span></a>
								<a class="anm-btn" href="02.html"><svg><rect x="0" y="0" fill="none" width="150" height="50" class="rect"></svg><span>→</span></a>
					#contact
						h2 contact
						p お気軽に お問い合わせください
						<a class="btn_big" href="#"><svg><rect x="0" y="0" fill="none" width="240" height="50" class="rect"></svg><span>info@y-hmd.com</span></a>
				include ./templates/_footer.jade