- var title = "日本の伝統文様100選 | works | y-hmd. | WEBクリエイターを目指すハマダユイコのポートフォリオサイト"
- var description = "ハマダユイコのポートフォリオサイト | 名古屋でWEBデザインなどについて勉強中の大学生のポートフォリオです。WEBだけに限らずその他の制作物も載せていくつもりです。「日本の伝統文様100選」の紹介ページです。"

doctype html
html(lang="ja")
	include ./templates/_head.jade
	body
		#js-loaderbg
			#js-loader
				img(src="./images/loading.gif" alt="")
		#wrap
			#bg
			nav
				ul
					li: a(href="index.html") HOME
					li: a(href="works.html") works
					li: a(href="index.html#about") about
					li: a(href="#contact") contact
			#container
				header
					span.menu-trigger(href="#")
						span
						span
						span
				#mainVisual
					#js-fadeText
						span YUIKO HAMADA's
						span portfolio site
				section#contents
					section#works
						h2 works
						.works-single
							h3 日本の伝統文様100選
							span.date WEB / 2015.1
							.top-img
								img(src="./images/works/03.png" alt="日本の伝統文様100選")
							.single-top.clearfix
								.summary
									dl
										dt 制作期間
										dd 2014.12-2015.1
										dt 担当範囲
										dd すべて
										dt 使用ソフト・技術
										dd IllustratorCS6 / PhotoshopCS6 / HTML5 / CSS3 / jQuery
										dt URL
										dd: a(href="https://y-hmd.com/ja100" target="_blank") https://y-hmd.com/ja100
								.context
									h4 制作背景
									p 授業の課題で「日本の伝統文様100種類を分類したWEBサイト」の制作をしました。分類のやり方は自由だったので、このサイトでは色別で分類しました。色毎に1ページ使うことで、見やすく分かり易いサイトを目指しました。
							section.flow
								.flow-detail.clearfix
									.left.w300
										img(src="./images/works/03-01.png" alt="日本の伝統文様100選")
									.right.w450
										p 「日本の伝統文様」ということで、日本らしく浮世絵を背景に採用し、スクロールすると垣間見えるようにしました。また、全体はモダンなデザインにし、カラーは渋くくすんだ色味に調整しました。色別に分類をしたのがわかるように、背景色を揃えています。
										p lightboxやスムーズスクロールを初めて取り入れ、見やすく分かり易く、そして美しいサイトを目指しました。
							.works-nav.clearfix
								<a class="anm-btn" href="02.html"><svg><rect x="0" y="0" fill="none" width="150" height="50" class="rect"></svg><span>←</span></a>
								<a class="btn_big" href="works.html"><svg><rect x="0" y="0" fill="none" width="240" height="50" class="rect"></svg><span>View ALL</span></a>
								<a class="anm-btn" href="04.html"><svg><rect x="0" y="0" fill="none" width="150" height="50" class="rect"></svg><span>→</span></a>
					#contact
						h2 contact
						p お気軽に お問い合わせください
						<a class="btn_big" href="mailto:info@y-hmd.com"><svg><rect x="0" y="0" fill="none" width="240" height="50" class="rect"></svg><span>info@y-hmd.com</span></a>
				include ./templates/_footer.jade