- var title = "GEIKOSAI2015(仮) | works | y-hmd. | WEBクリエイターを目指すハマダユイコのポートフォリオサイト"
- var description = "ハマダユイコのポートフォリオサイト | 名古屋でWEBデザインなどについて勉強中の大学生のポートフォリオです。WEBだけに限らずその他の制作物も載せていくつもりです。「GEIKOSAI2015(仮)」の紹介ページです"

doctype html
html(lang="ja")
	include ./templates/_head.jade
	body
		#js-loaderbg
			#js-loader
				img(src="./images/loading.gif" alt="")
		#wrap
			#bg
			nav
				ul
					li: a(href="index.html") HOME
					li: a(href="works.html") works
					li: a(href="index.html#about") about
					li: a(href="#contact") contact
			#container
				header
					span.menu-trigger(href="#")
						span
						span
						span
				#mainVisual
					#js-fadeText
						span YUIKO HAMADA's
						span portfolio site
				section#contents
					section#works
						h2 works
						.works-single
							h3 GEIKOSAI2015(仮)
							span.date WEB / 2015.6
							.top-img
								img(src="./images/works/04.png" alt="GEIKOSAI2015(仮)")
							.single-top.clearfix
								.summary
									dl
										dt 制作期間
										dd 2015.5-2015.6
										dt 担当範囲
										dd すべて(メインビジュアル等を除く)
										dt 使用ソフト・技術
										dd IllustratorCS6 / HTML5 / CSS3 / jQuery
										dt URL
										dd: a(href="http://geikousai-ncu.com/2015/pre/" target="_blank") http://geikousai-ncu.com/2015/pre/
								.context
									h4 制作背景
									p 芸工祭2015の仮サイト(告知用サイト)の制作をしました。外部に向けてという目的もありますが、芸工祭をよく知らない1年生を一番のターゲットにしています。どの部署に入るか決められない人のために、各部署からのメッセージを見れるようにしました。
							section.flow
								.flow-detail.clearfix
									.left.w300
										img(src="./images/works/04-01.png" alt="適部署チャート")
									.right.w450
										p 今年のテーマカラーである赤と青をメインカラーにし、ビジュアルを大きく出して、インパクト重視で制作しました。背景に動画を採用したのは、インパクトが大きいというのと、今年の雰囲気を感じ取ってもらいたいという思いからです。
										p メインビジュアルやテクスチャはグラフィック部署が、背景の動画は映像部署が用意してくれたものです。
										p また、各部署からのメッセージに加えて、適部署チャートというものも用意しました。こちらは同じWEB部署のメンバーが制作してくれました。このように1年生向けのコンテンツを用意したおかげで、多くの人が芸工祭に参加してくれました。
								.flow-detail.clearfix
									.right.w300
										img(src="./images/works/04-02.png" alt="GEIKOSAI2015(仮)")
									.left.w450
										p 公開後は多くの方から嬉しい反応を頂けました。(当時はとにかくツイッターでエゴサーチをしていました)
										p 色々と新しいものを取り入れたせいでIEと古いAndroidには残念ながら対応していません...
										p: a(href="https://y-hmd.com/blog/geikosai2015" target="_blank") WEBサイト公開時の記事はこちら
										p: a(href="http://geikousai-ncu.com/pre/chart/" target="_blank") 適部署チャートはこちら
							.works-nav.clearfix
								<a class="anm-btn" href="03.html"><svg><rect x="0" y="0" fill="none" width="150" height="50" class="rect"></svg><span>←</span></a>
								<a class="btn_big" href="works.html"><svg><rect x="0" y="0" fill="none" width="240" height="50" class="rect"></svg><span>View ALL</span></a>
								<a class="anm-btn" href="05.html"><svg><rect x="0" y="0" fill="none" width="150" height="50" class="rect"></svg><span>→</span></a>
					#contact
						h2 contact
						p お気軽に お問い合わせください
						<a class="btn_big" href="mailto:info@y-hmd.com"><svg><rect x="0" y="0" fill="none" width="240" height="50" class="rect"></svg><span>info@y-hmd.com</span></a>
				include ./templates/_footer.jade